{% extends 'base.html' %}

{% block title %} Detail of {{ deck.title }} {% endblock %}


{% block content %}
<h1 class="display-4"> {{ deck.title }} </h1>
<small> Published on: {{ deck.pub_date }} </small>
<p> {{ deck.description }} </p>
<form action="/cards/review/{{ deck.pk }}" method="GET">
  <input type="hidden" name="new" value="1">
  <button type="submit" class="btn btn-outline-primary"> Review </button>
</form>
<form action="/cards/edit/{{ deck.pk }}/{{ edit_card.pk }}">
  <button type="submit" class="btn btn-outline-primary"> Edit </button>
</form>
{% endblock %}
