{% extends 'base.html' %}

{% block title %} Detail of {{ deck.title }} {% endblock %}


{% block content %}
<h1 class="display-4"> {{ deck.title }} </h1>
<small> Published on: {{ deck.pub_date }} </small>
<p> {{ deck.description }} </p>
<form action="/cards/review/{{ deck.pk }}" method="GET">
  <input type="hidden" name="new" value="1">
  <button type="submit" class="btn btn-outline-primary"> Review </button>
</form>

<hr>

<a href="{% url 'cards:display' deck.pk 0 %}" class="btn btn-outline-primary" role="button">View</a>
{% if can_edit %}
<a href = "/cards/edit/{{ deck.pk }}/{{ edit_card.pk }}" class="btn btn-outline-primary" role="button">Edit</a>
{% endif %}
{% endblock %}
